<% include ./partials/header %>
<div class="slide-background">
    <div id="landing-header">
 		<h1>Laurier Accounting Association</h1>
		<h4>Your Club for Everything Account at Laurier</h4>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

