<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laurier Accounting Association</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
  <body id="root">
    <!--Sidebar Menu-->
    <div class="ui vertical inverted sidebar menu">
      <a class="item" href="/"><img src="http://laurieraccounting.com/wp-content/uploads/2015/09/small-logo.jpg" class="logo"></a>
      <a class="item" href="/about">About</a>
      <a class="item">Hiring</a>
      <a class="item" href="/events">Events</a>
      <a class="item" href="/partners">Partners</a>
      <a class="item" href="/partners/events">Partners Events</a>
      <a class="item">Contacts</a>
      <a class="item">Edit Page</a>
    </div>
    <div class="pusher">
      <div class="ui vertical masthead center aligned segment">
        <div class="ui">
          <div class="ui large secondary leftmost pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a>
            <a class="item" href="/"><img src="http://laurieraccounting.com/wp-content/uploads/2015/09/small-logo.jpg" class="logo"></a> 
            <a class="item" href="/about">About</a>
            <a class="item">Hiring</a>
            <a class="item" href="/events">Events</a>
              
            <div class="ui pointing dropdown link item">
              <span class="text">Partners</span>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="/partners" class="item">Partners</a>
                <a href="/partners/events" class="item">Partner Events</a>
              </div>
            </div>

              <a class="item">Contacts</a> <a class="item">Edit Page</a>
            <div class="right item rightmost">
              <a class="ui button">Log in</a>
            </div>
          </div>
        </div>
      