<% include ../partials/header %>
<br>
<h4 class="ui horizontal header divider">
    <a href="#root">Diamond</a>
</h4>
<div class="ui  container">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
            </div>
        </div>
    </div> 
</div>
<br>
<h4 class="ui horizontal header divider">
    <a href="#root">Platinum</a>
</h4>
<div class="ui  container">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
            </div>
        </div>
    </div> 
</div>
<br>
<h4 class="ui horizontal header divider">
    <a href="#root">Gold</a>
</h4>
<div class="ui  container">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
            </div>
        </div>
    </div> 
</div>
<br>
<h4 class="ui horizontal header divider">
    <a href="#root">Silver</a>
</h4>
<div class="ui  container">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
            </div>
        </div>
    </div> 
</div>
<br>
<% include ../partials/footer %>