<% include ../partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header centering">Edit <%=sponsor.title%></div>
        <form class="ui form" action="/admin/sponsor/<%=sponsor._id%>?_method=PUT" method="POST">
            <div class="field">
                <label>Sponsor Name</label>
                <input type="text" name="sponsor[title]" placeholder="title" value="<%=sponsor.title%>" required>
            </div>
            <div class="field">
               <label>Image</label>
               <input type="text" name="sponsor[image]" placeholder="Image URL"value="<%=sponsor.image%>" required>
           </div>
           <div class="centering">
               <input class="ui violet basic button" type="submit" value="Submit">
           </div>
        </form>
    </div>
<% include ../partials/footer %>
