<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laurier Accounting Association</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    <div class="ui main text">
        <div class="ui borderless main menu">
            <div class="ui text container">
                <div class="header item">
                    <img src="http://laurieraccounting.com/wp-content/uploads/2015/09/small-logo.jpg" class="logo">
                </div>
                <a class="ui floated dropdown item" tabindex="0" href="/about">
                About <i class="dropdown icon"></i>
                    <div class="menu transition hidden" tabindex="-1">
                        <a href="/about/members">Meet the Team</a>
                    </div>
                </a>
            </div>
        </div>
    </div>