<% include ./partials/header %>
<!-- slide show container-->

<!-- TODO slide show--->
      <div class="ui vertical stripe segment slide" id="slideshow">
        <%if(slides && slides.length >0){%>
          <% slides.forEach((slide)=>{ %>
            <div class="slide" style="background-image: url('<%=slide.image%>')">
            <br>
            <br>
              <div class="ui vertical segment centering" >
                <div class="ui container">
                  <h2 class="ui header"><%= slide.title%></h2>
                  <p>
                   <%=slide.description%>
                   </p>
                </div>
              </div> 
            </div>
          <% }) %> 
        <%}%>
      </div>
      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header">Laurier Accounting Association</h3>
          <p>
            We are a student-run organization dedicated to connecting the best and brightest students at the School of Business and Economics with the accounting industry.
          </p>
          <a class="ui large button" href="/about">Read More</a>
        </div>
      </div>
      <h4 class="ui horizontal header divider">
            <a href="#root">Our Sponsors</a>
          </h4>
      <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <!-- TODO make for loop of sponsor id and images--->
            <div class="column">
              <img src="" alt="">
            </div>
            <div class="column">
              <img src="" alt="">
            </div>
            <div class="column">
              <img src="" alt="">
            </div>
            <div class="column">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
      <h4 class="ui horizontal header divider">
            <a href="#root">-</a>
          </h4>
      

<% include ./partials/footer %>