<% include ../partials/header %>
<div class="ui container banner-image">
<br>
        </div>
    </div>
    <div class="ui container vertical stripe quote segment">
<h4 class="ui horizontal header divider">
            <a href="#root">Our Team</a>
          </h4>
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        Michelle Tran
                    </div>
                    <div class="meta">
                        WHatever you do
                    </div>
                    <div class="description">
                        Position detail
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        Michelle Tran
                    </div>
                    <div class="meta">
                        WHatever you do
                    </div>
                    <div class="description">
                        Position detail
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        Michelle Tran
                    </div>
                    <div class="meta">
                        WHatever you do
                    </div>
                    <div class="description">
                        Position detail
                    </div>
                </div>
            </div>
      </div>
     <h4 class="ui horizontal header divider">
            <a href="#root">-</a>
          </h4>
</div>
<% include ../partials/footer %>