<% include ../partials/header %>
<br>
<h4 class="ui horizontal header divider">
    <a class="ui orange basic button" href="members/new">Add New Member</a>
</h4>
<div class="ui  container">

    <div class="ui three column grid">
    <%if(members && members.length > 0){%>
        <% members.forEach((member)=>{%>
            <div class="column">
                <div class="ui cards">
                    <div class="card">
                        <div class="content">
                            <img class="right floated mini ui image" src="<%=member.image%>">
                            <div class="header">
                                <%=member.name%>
                            </div>
                            <div class="meta">
                                <%=member.position%>
                            </div>
                            <div class="description">
                                <%=member.email%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
    <%}%>
        
        
    </div>
    <br>
<% include ../partials/footer %>